.aboutMe{
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 20px;
    justify-content: space-between;
    padding-top: 30px;
}
.aboutMe h2{
    color: oklch(0.300 0 0);
    font-size: 18px;
}
.aboutMe span{
    font-size: 48px;
}
.aboutMe p{
    color: oklch(0.708 0 0);
    width: 70%;
    font-size: 20px;
}
.aboutMe h3{
    font-size: 28px;
}

.aboutMeSkills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aboutMeSkills div{
    display: flex;
    gap: 20px;
}
.aboutMeSkills h4{
    color: oklch(0.708 0 0);
}
.aboutMeSkills div span{
    font-size: 16px;
    background: oklch(0.300 0 0);
    padding: 10px 15px;
    border-radius: 10px;
}
@media(max-width: 1200px){
.aboutMe p{
    color: oklch(0.708 0 0);
    width: 90%;
    font-size: 18px;
}
}

@media(max-width:500px){
  .aboutMeSkills div{
    gap: 10px;
  }
  .aboutMeSkills div span{
    font-size: 14px;
  }
}