*{
  color: oklch(0.900 0 0);
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-family: 'GeistSans';
  scroll-behavior: smooth;
}
body{
  background: oklch(0.145 0 0);
}

.miniTittle{
  color: oklch(0.300 0 0);
  font-size: 18px;
}
.tittle{
  font-size: 48px;
}
.description{
  color: oklch(0.708 0 0);
  width: 70%;
  font-size: 20px;
}
button, a{
  cursor: pointer;
}
nav{
    position: sticky;
    top: 0;
    align-self: flex-start;
}