.page{
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
}
.page .divisor{
  margin: 0 20px 0;
  height: 100vh;
  width: 1px;
  background: rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    align-self: flex-start;
}
.navBar{
  width: 100%;
  height: 100vh;
}

.pageBody{
  padding: 25px;
}